{{> head}}

    <body>
        {{#each items}}
          <div class="auction-item container">

              <div class="row">

                  <div class="col-sm-12">
                      <p>
                        {{description}}
                      </p>
                  </div>

                  {{#each images}}
                    <div class="col-sm-6">
                      <img class="auction-image" src='/uploads/{{this}}'/>
                    </div>
                  {{/each}}



              </div>




        </div>
        {{/each}}
    </body>
