{{> head}}

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-container">

						<h2 class="upload-title">Gavin Houghtion Image Uploader</h2>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<button class="btn btn-lg upload-btn" type="button">Upload File</button>
						<ul class="files-uploaded"></ul>

				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-container">

					<form>
						<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
						<input class="auction-description" type="text">
						<input class="btn btn-lg submit-images-btn" type="submit">
					</form>

				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="./js/script.js"></script>
</body>
